.contaner__menu-title {
  color: white;
}

.contaner__menu-title > h1{
  margin: 15px 0 15px 0;
  font-size: 93px;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
}

.contaner__menu-title > hr{
  margin: 20px 0 5px 0;
}
