/*.container__menu-bar {
  margin-top: 15px; - movido para
  home.css
}*/

.container__menu-bar > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li {
  margin-right: 20px;
  list-style: none;
}

.container__menu-bar > ul > li > a:hover {
  animation: pulsante 1s infinite;
}

@keyframes pulsante {
  0% {font-size: 100%;}
  50% {font-size: 110%;}
  100% {font-size: 100%;}

}
